aiohttp==1.0.5
alpha-vantage==2.1.0
async-timeout==3.0.0
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
discord==0.0.2
discord.py==0.16.12
idna==2.7
kiwisolver==1.4.9
matplotlib==3.10.7
multidict==4.3.1
numpy==2.3.4
pandas==2.3.3
pyparsing==3.2.5
python-dateutil==2.7.3
pytz==2018.5
requests==2.21.0
simplejson==3.16.0
six==1.11.0
urllib3==1.24.2
websockets==3.4
